<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Страницы</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="CSS/admin-cinema.css" />

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- верхняя навигация -->
        <div class="header">
            <a class="navbar-brand" href="#">CMSkino admin</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <div class="btn-group" role="group" aria-label="Basic outlined button group">
                <button type="button" class="btn btn-outline-secondary">Мой кабинет</button>
                <button type="button" class="btn btn-outline-secondary">Выход</button>
            </div>
        </ul>
    </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" >
            <div class="btn-group-vertical" role="group" aria-label="Basic example">
                <a href="admin-statistics" class="btn btn-secondary btn-lg">Статистика</a>
                <a href="admin-banners" class="btn btn-secondary btn-lg">Баннера/Слайды</a>
                <a href="admin-film" class="btn btn-secondary btn-lg">Фильмы</a>
                <a href="admin-cinema" class="btn btn-secondary btn-lg" >Кинотеатры</a>
                <a href="admin-news" class="btn btn-secondary btn-lg">Новости</a>
                <a href="admin-action" class="btn btn-secondary btn-lg">Акции</a>
                <a href="admin-pages" class="btn btn-secondary btn-lg">Страницы</a>
                <a href="admin-users" class="btn btn-secondary btn-lg">Пользователи</a>
                <a href="admin-mailing-list" class="btn btn-secondary btn-lg">Рассылка</a>
            </div>
        </div>
        <div class="col-md-10" >
                <div class="form-group">
                    <div th:switch="${pagecontList}">
                        <h2 th:case="null">Добавьте контакты</h2>
                        <div th:case="*">
                            <div class="row row-cols-1 row-cols-sm-1 g-1" >
                                <div class="col" th:each="pagecont: ${pagecontList}">
                                    <div class="card" >
                                        <div class="card-body">
                                            <form th:method="POST"   th:action="@{/admin-pagecont-card-add}" enctype="multipart/form-data"  >
                                                <div class="form-group">
                                                    <div class="row">
                                                        <input type="hidden" class="form-control" name="idpage" field="value" th:value="${pagecont.idpage}">
                                                        <div class="col">
                                                            <label for="name">Название Кинотеатра</label>
                                                            <input type="text" id="name" name="name" field="value"  th:value="${pagecont.name}" class="form-control" placeholder="Название страницы">
                                                        </div>
                                                        <div class="col">
                                                            <br>
<!--                                                            <div class="form-check form-switch">-->
<!--                                                                <input class="form-check-input" role="switch" value="on" type="checkbox" id="formSwitchCheckChecked" th:checked="${#strings.contains(pagecont.getStatus(),'on')}">-->
<!--&lt;!&ndash;                                                                <input class="form-check-input"  role="switch" value="on" type="checkbox" id="formSwitchCheckChecked" th:checked="${#strings.contains(pagecont.getStatus(),'on')}">&ndash;&gt;-->
<!--                                                                <label class="form-check-label" for="formSwitchCheckChecked">Выключение/Включение отображения страницы</label>-->
<!--                                                            </div>-->
                                                        </div>
                                                    </div>
                                                <div class="form-group">
                                                    <br>
                                                    <label for="description">Адрес</label>
<!--                                                    <input type="text" id="description" name="description" field="value"  th:value="${pagecont.description}" class="form-control" >-->
                                                <textarea class="form-control" th:text="${pagecont.description}" name="description" field="text"  id="description" placeholder="введите адрес" rows="5"></textarea ><br>
                                                    <br>
                                                    <label for="coordinates">Координаты</label>
                                                    <input type="text" class="form-control" name="coordinates"  th:value="${pagecont.coordinates}" id="coordinates" placeholder="введите координаты">

                                                    <h6>Главное фото (Соотношение сторон 16:9)</h6>
                                                    <div class="row" id="mainpicture">
                                                        <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column">
                                                            <label class="upload__btn">
                                                                <img th:src="${pagecont.mainpicture}" id="photo-img0" alt="Image" style="width: 100%">
                                                                <input type="file" name='mainpicture'  id="photo-input-img0" data-max_length="0" class="upload__inputfile" onchange="uploadBanner0()">
                                                                <p>Загрузить изображение</p>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                    <br>
                                                <a th:href="@{admin-pagecont-delete/{id}(id=${pagecont.idpage})}" class="btn btn-danger ">Удалить</a>

                                                <button type="submit" class="btn btn-secondary">Сохранить</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <br>
            <a href="/admin-pagecont-add-new" class="btn btn-secondary">Добавить кинотеатр</a>
            <br>
            <br>
            <h6>SEO блок</h6>
                <form th:method="POST"  th:action="@{/admin-pageconturl-card-add}" th:object="${page}" enctype="multipart/form-data"  >
                        <label for="idpage"></label>
                        <input type="hidden" class="form-control" th:field="*{idpage}" id="idpage" placeholder="">
                        <div class="form-group">
                            <label for="url">URL</label>
                            <input type="text" th:field="*{url}" class="form-control" id="url" placeholder="URL">
                        </div><br>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Title">
                        </div><br>
                        <div class="form-group">
                            <label for="keywords">Keywords</label>
                            <input type="text" th:field="*{keywords}" class="form-control" id="keywords" placeholder="Keywords">
                        </div><br>
                        <div class="form-group">
                            <label for="seodescription">Description</label>
                            <textarea class="form-control" th:field="*{descript}" id="seodescription" placeholder="Description" rows="5"></textarea >
                        </div>
                    <label for="date"></label>
                    <input  type="hidden" id="date" class="form-control" th:field="*{date}" placeholder="Дата публикации">
                    <script>
                        document.getElementById('date').value = new Date().toISOString().substring(0, 10);
                    </script>
                    <br>
                   <button type="submit" class="btn btn-secondary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>




<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!-- Latest compiled and minified JavaScript -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="JS/admin-cinema.js"></script>
</body>
</html>