<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Пользователи</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/CSS/admin-cinema.css" rel="stylesheet" type="text/css">
    <!--    <link href="/CSS/admin-cinema1.css"  rel="stylesheet" type="text/css">-->
    <!--    <link href="/CSS/admin-cinema2.css"  rel="stylesheet" type="text/css">-->
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- верхняя навигация -->
        <div class="header">
            <a class="navbar-brand" href="#">CMSkino admin</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <div class="btn-group" role="group" aria-label="Basic outlined button group">
                <button type="button" class="btn btn-outline-secondary">Мой кабинет</button>
                <button type="button" class="btn btn-outline-secondary">Выход</button>
            </div>
        </ul>
    </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="btn-group-vertical" role="group" aria-label="Basic example">
                <a href="admin-statistics" class="btn btn-secondary btn-lg">Статистика</a>
                <a href="admin-banners" class="btn btn-secondary btn-lg">Баннера/Слайды</a>
                <a href="admin-film" class="btn btn-secondary btn-lg">Фильмы</a>
                <a href="admin-cinema" class="btn btn-secondary btn-lg">Кинотеатры</a>
                <a href="admin-news" class="btn btn-secondary btn-lg">Новости</a>
                <a href="admin-action" class="btn btn-secondary btn-lg">Акции</a>
                <a href="admin-pages" class="btn btn-secondary btn-lg">Страницы</a>
                <a href="admin-users" class="btn btn-secondary btn-lg">Пользователи</a>
                <a href="admin-mailing-list" class="btn btn-secondary btn-lg">Рассылка</a>
            </div>
        </div>
        <div class="col-md-10">



<!--MainTopBanner-->
            <div style="text-align: center;"><h2>На главной верх</h2></div>
            <div class="card card-solid">
                <h6>Размер: 1000х100</h6>
                <form action="save-banners" method="post" enctype="multipart/form-data">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col">
                                <div class="form-check form-switch" >
                                    <input class="form-check-input" th:field="*{mrotationSpeed.status}" role="switch" value="on" type="checkbox" id="formSwitchCheckChecked" >
                                    <label class="form-check-label" for="formSwitchCheckChecked"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="banners">
                            <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column"
                                 th:each="mbanner, counter:${mbanners}" th:id="'banner-'+ ${counter.count}">
                                <input hidden name="ids" th:value="${mbanner.id}">
                                <div class="card bg-light d-flex flex-fill">
                                    <div class="card-header text-muted border-bottom-0">
                                        <img th:src="${mbanner.imagePath}" alt="user-avatar" style="width: 100%"
                                        th:id="'banner-img-'+${counter.count}">
                                        <input type='file' name='images' th:id="'banner-input-img-'+${counter.count}"
                                               th:onchange="'uploadBanner('+${counter.count}+')'">
                                    </div>
                                    <div class="card-body pt-0">
                                        <div class="form-group">
                                            <label>URL</label>
                                            <input class="form-control" type="text" name="urls" th:value="${mbanner.url}" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Текст</label>
                                            <input class="form-control" type="text" name="texts" th:value="${mbanner.text}" required>
                                            </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-right">
                                            <a class="btn btn-sm btn-danger" th:onclick="'deleteBanner('+${counter.count}+')'">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-2 col-sm-2 col-md-2">
                                <div class="form-group">
                                    <label for="rotation-speed">Скорость вращения</label>
                                    <select id="rotation-speed" class="form-control" name="rotationSpeed">
                                        <option value="1" th:selected="${mrotationSpeed.rotationSpeed==1}">1</option>
                                        <option value="2" th:selected="${mrotationSpeed.rotationSpeed==2}">2</option>
                                        <option value="3" th:selected="${mrotationSpeed.rotationSpeed==3}">3</option>
                                        <option value="3" th:selected="${mrotationSpeed.rotationSpeed==4}">4</option>
                                        <option value="4" th:selected="${mrotationSpeed.rotationSpeed==5}">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <a class="btn btn-lg btn-success" onclick="addBanner()">Добавить</a>
                                <button class="btn btn-lg btn-primary" type="submit">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

<!--BackgroungBanner-->

            <div style="text-align: center;"><h2>Сквозной баннер на заднем фоне</h2>
                <div class="card card-solid">
                    <div style="text-align: left;"><h6>Размер: 2000х3000</h6>
                    <form action="save-banners1" method="post" enctype="multipart/form-data">
                        <div class="card-body pb-0">
                            <div class="row" id="banner">
                                <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column">
                                    <div class="card bg-light d-flex flex-fill">
                                        <div class="card-header text-muted border-bottom-0">
                                            <img th:src="${banner.imagePath}" id="banner-img1" alt="user-avatar" style="width: 100%">
                                                <input type='file' name='backbanner' id="banner-input-img1" onchange="uploadBanner1()">
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-right">
                                                <a href="del-back-banner" class="btn btn-sm btn-danger" >Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-sm-2 col-md-2">
                            <button class="btn btn-lg btn-primary" type="submit">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
<!--ActionNewsBanner-->
            <div style="text-align: center;"><h2>На главной Новости Акции</h2></div>
            <div class="card card-solid">
                <h6>Размер: 1000х190</h6>
                <form action="save-banners2" method="post" enctype="multipart/form-data">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col">
                                <div class="form-check form-switch" >
                                    <input class="form-check-input" th:field="*{arotationSpeed.status}" role="switch" value="on" type="checkbox" id="formSwitchCheckChecked2" >
                                    <label class="form-check-label" for="formSwitchCheckChecked"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="banners2">
                            <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column"
                                 th:each="abanner, acounter:${abanners}" th:id="'abanner-'+ ${acounter.count}">
                                <input hidden name="ids" th:value="${abanner.id}">
                                <div class="card bg-light d-flex flex-fill">
                                    <div class="card-header text-muted border-bottom-0">
                                        <img th:src="${abanner.imagePath}" alt="user-avatar" style="width: 100%"
                                             th:id="'abanner-img-'+${acounter.count}">
                                        <input type='file' name='images' th:id="'abanner-input-img-'+${acounter.count}"
                                               th:onchange="'uploadBanner2('+${acounter.count}+')'">
                                    </div>
                                    <div class="card-body pt-0">
                                        <div class="form-group">
                                            <label>URL</label>
                                            <input class="form-control" type="text" name="urls" th:value="${abanner.url}" required>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-right">
                                            <a class="btn btn-sm btn-danger" th:onclick="'deleteBanner2('+${acounter.count}+')'">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-2 col-sm-2 col-md-2">
                                <div class="form-group">
                                    <label for="rotation-speed">Скорость вращения</label>
                                    <select id="rotation-speed2" class="form-control" name="rotationSpeed">
                                        <option value="1" th:selected="${arotationSpeed.rotationSpeed==1}">1</option>
                                        <option value="2" th:selected="${arotationSpeed.rotationSpeed==2}">2</option>
                                        <option value="3" th:selected="${arotationSpeed.rotationSpeed==3}">3</option>
                                        <option value="3" th:selected="${arotationSpeed.rotationSpeed==4}">4</option>
                                        <option value="4" th:selected="${arotationSpeed.rotationSpeed==5}">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <a class="btn btn-lg btn-success" onclick="addBanner2()">Добавить</a>
                                <button class="btn btn-lg btn-primary" type="submit">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script>
    let bannersDiv = $("#banners");
    let topBannersSize = bannersDiv.children().length;
    function addBanner(){
        bannersDiv.append("" +
            "<div class='col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column' id='banner-"+(topBannersSize+1)+"'>" +
            "   <input hidden name='ids' value='0'>" +
            "   <div class='card bg-light d-flex flex-fill'>" +
            "       <div class='card-header text-muted border-bottom-0'>" +
            "           <img src='/images/empty.jpg' alt='user-avatar' style='width: 100%' id='banner-img-"+(topBannersSize+1)+"'>" +
            "           <input type='file' name='images' id='banner-input-img-"+(topBannersSize+1)+"' onchange='uploadBanner("+(topBannersSize+1)+")' required>" +
            "       </div>" +
            "       <div class='card-body pt-0'>" +
            "           <div class='form-group'>" +
            "               <label>URL</label>" +
            "               <input class='form-control' type='text' name='urls' required>" +
            "           </div>" +
            "           <div class='form-group'>" +
            "               <label>Текст</label>" +
            "               <input class='form-control' type='text' name='texts' required>" +
            "           </div>" +
            "       </div>" +
            "       <div class='card-footer'>" +
            "           <div class='text-right'>" +
            "               <a class='btn btn-sm btn-danger' onclick='deleteBanner("+(topBannersSize+1)+")'>Delete</a>" +
            "           </div>" +
            "       </div>" +
            "   </div>" +
            "</div>");
        topBannersSize++;
    }
    function deleteBanner(id){
        let banner = $("#banner-"+id);
        banner.remove();
    }
    function uploadBanner(id) {
        let avatar = $('#banner-input-img-'+id).prop('files')[0];
        let oFReader = new FileReader();
        oFReader.readAsDataURL(avatar);
        oFReader.onload = function (oFREvent) {
            $("#banner-img-"+id).attr('src', oFREvent.target.result);
        };
    }
    function uploadBanner1() {
        let avatar1 = $('#banner-input-img1').prop('files')[0];
        let oFReader1 = new FileReader();
        oFReader1.readAsDataURL(avatar1);
        oFReader1.onload = function (oFREvent) {
            $("#banner-img1").attr('src', oFREvent.target.result);
        };
    }

    let bannersDiv2 = $("#banners2");
    let topBannersSize2 = bannersDiv2.children().length;
    function addBanner2(){
        bannersDiv2.append("" +
            "<div class='col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column' id='abanner-"+(topBannersSize2+1)+"'>" +
            "   <input hidden name='ids' value='0'>" +
            "   <div class='card bg-light d-flex flex-fill'>" +
            "       <div class='card-header text-muted border-bottom-0'>" +
            "           <img src='/images/empty.jpg' alt='user-avatar' style='width: 100%' id='abanner-img-"+(topBannersSize2+1)+"'>" +
            "           <input type='file' name='images' id='abanner-input-img-"+(topBannersSize2+1)+"' onchange='uploadBanner2("+(topBannersSize2+1)+")' required>" +
            "       </div>" +
            "       <div class='card-body pt-0'>" +
            "           <div class='form-group'>" +
            "               <label>URL</label>" +
            "               <input class='form-control' type='text' name='urls' required>" +
            "           </div>" +
            "       </div>" +
            "       <div class='card-footer'>" +
            "           <div class='text-right'>" +
            "               <a class='btn btn-sm btn-danger' onclick='deleteBanner2("+(topBannersSize2+1)+")'>Delete</a>" +
            "           </div>" +
            "       </div>" +
            "   </div>" +
            "</div>");
        topBannersSize2++;
    }
    function deleteBanner2(id){
        let banner2 = $("#abanner-"+id);
        banner2.remove();
    }
    function uploadBanner2(id) {
        let avatar2 = $('#abanner-input-img-'+id).prop('files')[0];
        let oFReader2 = new FileReader();
        oFReader2.readAsDataURL(avatar2);
        oFReader2.onload = function (oFREvent) {
            $("#abanner-img-"+id).attr('src', oFREvent.target.result);
        };
    }
</script>
<script>

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="/JS/admin-cinema.js"></script>
<!--<script src="/JS/admin-cinema1.js"></script>-->
<!--<script src="/JS/admin-cinema2.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/custom.js"></script>
<script src="/assets/js/jquery-3.5.1.min.js"></script>
</body>
</html>
