<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>Создание карты фильма</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/CSS/admin-cinema.css" />
    <link rel="stylesheet" type="text/css" href="/CSS/admin-cinema1.css" />

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- верхняя навигация -->
        <div class="header">
            <a class="navbar-brand" href="#">CMSkino admin</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <div class="btn-group" role="group" aria-label="Basic outlined button group">
                <button type="button" class="btn btn-outline-secondary">Мой кабинет</button>
                <button type="button" class="btn btn-outline-secondary">Выход</button>
            </div>
        </ul>
    </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" >
            <div class="btn-group-vertical" role="group" aria-label="Basic example">
                <a href="admin-statistics" class="btn btn-secondary btn-lg">Статистика</a>
                <a href="admin-banners" class="btn btn-secondary btn-lg">Баннера/Слайды</a>
                <a href="admin-film" class="btn btn-secondary btn-lg">Фильмы</a>
                <a href="admin-cinema" class="btn btn-secondary btn-lg" >Кинотеатры</a>
                <a href="admin-news" class="btn btn-secondary btn-lg">Новости</a>
                <a href="admin-action" class="btn btn-secondary btn-lg">Акции</a>
                <a href="admin-pages" class="btn btn-secondary btn-lg">Страницы</a>
                <a href="admin-users" class="btn btn-secondary btn-lg">Пользователи</a>
                <a href="admin-mailing-list" class="btn btn-secondary btn-lg">Рассылка</a>
            </div>
    </div>
    <div class="col-md-10" >
        <form th:method="POST"  th:action="@{/admin-cinema-card-update-save}" th:object="${cinema}" enctype="multipart/form-data"  >
            <div class="form-group">
                <br>
                <label for="idcinema"></label>
                <input type="hidden" class="form-control" th:field="*{idcinema}" id="idcinema" placeholder="введется автоматически">

                <br>
                <label for="name">Название кинотеатра</label>
                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="введите название">
    </div>
    <div class="form-group">
        <br>
        <label for="description">Описание</label>
        <textarea class="form-control" th:field="*{description}" id="description" placeholder="введите описание" rows="5"></textarea ><br>
    </div>
    <div class="form-group">
        <label for="cinemacondition">Условия</label>
        <textarea class="form-control" th:field="*{cinemacondition}" id="cinemacondition" placeholder="введите условия" rows="5"></textarea ><br>
    </div>
            <h6>Логотип (Соотношение сторон 5:7)</h6>
            <div class="row" id="banners">
                <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column">
                    <label class="upload__btn">
                        <img th:src="${cinema.mainpicture}" id="photo-img" alt="Image" style="width: 100%">
                        <input type="file" name='mainpicture'  id="photo-input-img" data-max_length="0" class="upload__inputfile" onchange="uploadBanner()">
                        <p>Загрузить изображение</p>
                    </label>
                </div>
            </div>
            <h6>Фото верхнего баннера</h6>
            <div class="row" >
                <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column">
                    <label class="upload__btn">
                        <img th:src="${cinema.bunner}" id="photo-img0" alt="Image" style="width: 100%">
                        <input type="file" name='bunner'  id="photo-input-img0" data-max_length="0" class="upload__inputfile" onchange="uploadBanner0()">
                        <p>Загрузить изображение</p>
                    </label>
                </div>
            </div>
            <h6>Галерея картинок (максимум 5 фото)</h6>
            <h6>(Соотношение сторон 16:9)</h6>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-6">
                <div class="col">
                    <label class="upload__btn1">
                        <img th:src="${cinema.picture1}" id="photo-img1" alt="Images" style="width: 100%">
                        <input type="file" name='picture1'  id="photo-input-img1" data-max_length="0" class="upload__inputfile" onchange="uploadBanner1()">
                        <p>Загрузить изображения</p>
                    </label>
                </div>
                <div class="col">
                    <label class="upload__btn1">
                        <img th:src="${cinema.picture2}" id="photo-img2" alt="Images" style="width: 100%">
                        <input type="file" name='picture1'  id="photo-input-img2" data-max_length="0" class="upload__inputfile" onchange="uploadBanner2()">
                        <p>Загрузить изображения</p>
                    </label>
                </div>
                <div class="col">
                    <label class="upload__btn1">
                        <img th:src="${cinema.picture3}" id="photo-img3" alt="Images" style="width: 100%">
                        <input type="file" name='picture1'  id="photo-input-img3" data-max_length="0" class="upload__inputfile" onchange="uploadBanner3()">
                        <p>Загрузить изображения</p>
                    </label>
                </div>
                <div class="col">
                    <label class="upload__btn1">
                        <img th:src="${cinema.picture4}" id="photo-img4" alt="Images" style="width: 100%">
                        <input type="file" name='picture1'  id="photo-input-img4" data-max_length="0" class="upload__inputfile" onchange="uploadBanner4()">
                        <p>Загрузить изображения</p>
                    </label>
                </div>
                <div class="col">
                    <label class="upload__btn1">
                        <img th:src="${cinema.picture5}" id="photo-img5" alt="Images" style="width: 100%">
                        <input type="file" name='picture1' id="photo-input-img5" data-max_length="0" class="upload__inputfile" onchange="uploadBanner5()">
                        <p>Загрузить изображения</p>
                    </label>
                </div>
            </div>
            <br>

    <h6>Список залов</h6>
            <table>
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Дата регистрации</th>
                    <th>Работа с залами</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="hall : ${cinema.halls}">
                    <td th:text="${hall.name}"></td>
                    <td th:text="${hall.dateofregistry}"td>
                    <td><div class="btn-group" role="group" aria-label="Basic outlined button group">

                        <button type="submit" class="btn btn-secondary" th:formaction="@{/admin-cinema-card-update-save3/{idh}(idh=${hall.idhall})}" >Редактировать</button>
                        <a th:href="@{/hall-delete/{id}(id=${hall.idhall})}" class="btn btn-danger ">Удалить</a>

                    </div></td>
                </tr>

                </tbody>
            </table>
            <br>
            <button type="submit" class="btn btn-secondary" formaction="/admin-cinema-card-update-save2" >Создать зал</button>
            <br>

    <h6>SEO блок</h6>
    <br>

        <div class="form-group">
            <label for="url">URL</label>
            <input type="text" class="form-control" th:field="*{url}" id="url" placeholder="URL">
        </div><br>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" th:field="*{title}" id="title" placeholder="Title">
        </div><br>
        <div class="form-group">
            <label for="keywords">Keywords</label>
            <input type="text" class="form-control" th:field="*{keywords}" id="keywords" placeholder="Keywords">
        </div><br>
        <div class="form-group">
            <label for="descript">Description</label>
            <textarea class="form-control" th:field="*{descript}" id="descript" placeholder="Description" rows="5"></textarea >
        </div><br>
            <button type="submit" class="btn btn-secondary">Сохранить</button>
        </form>
    </div>
    </div>
</div>



<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!-- Latest compiled and minified JavaScript -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/JS/admin-cinema.js"></script>


</body>
</html>