<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Пользователи</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/CSS/admin-cinema.css" rel="stylesheet" type="text/css">
    <!--    <link href="/CSS/admin-cinema1.css"  rel="stylesheet" type="text/css">-->
    <!--    <link href="/CSS/admin-cinema2.css"  rel="stylesheet" type="text/css">-->
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- верхняя навигация -->
        <div class="header">
            <a class="navbar-brand" href="#">CMSkino admin</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <div class="btn-group" role="group" aria-label="Basic outlined button group">
                <button type="button" class="btn btn-outline-secondary">Мой кабинет</button>
                <button type="button" class="btn btn-outline-secondary">Выход</button>
            </div>
        </ul>
    </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="btn-group-vertical" role="group" aria-label="Basic example">
                <a href="admin-statistics" class="btn btn-secondary btn-lg">Статистика</a>
                <a href="admin-banners" class="btn btn-secondary btn-lg">Баннера/Слайды</a>
                <a href="admin-film" class="btn btn-secondary btn-lg">Фильмы</a>
                <a href="admin-cinema" class="btn btn-secondary btn-lg">Кинотеатры</a>
                <a href="admin-news" class="btn btn-secondary btn-lg">Новости</a>
                <a href="admin-action" class="btn btn-secondary btn-lg">Акции</a>
                <a href="admin-pages" class="btn btn-secondary btn-lg">Страницы</a>
                <a href="admin-users" class="btn btn-secondary btn-lg">Пользователи</a>
                <a href="admin-mailing-list" class="btn btn-secondary btn-lg">Рассылка</a>
            </div>
        </div>
        <div class="col-md-10">




            <div style="text-align: center;"><h2>На главной верх</h2></div>
            <div class="card card-solid">
                <form action="save-banners" method="post" enctype="multipart/form-data">
                    <div class="card-body pb-0">
                        <div class="row" id="banners">
                            <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column"
                                 th:each="banner, counter:${banners}" th:id="'banner-'+${counter.count}">
                                <input hidden name="ids" th:value="${banner.id}">
                                <div class="card bg-light d-flex flex-fill">
                                    <div class="card-header text-muted border-bottom-0">
                                        <img th:src="${banner.imagePath}" alt="user-avatar" style="width: 100%"
                                        th:id="'banner-img-'+${counter.count}">
                                        <input type='file' name='images' th:id="'banner-input-img-'+${counter.count}"
                                               th:onchange="'uploadBanner('+${counter.count}+')'">
                                    </div>
                                    <div class="card-body pt-0">
                                        <div class="form-group">
                                            <label>URL</label>
                                            <input class="form-control" type="text" name="urls" th:value="${banner.url}" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Текст</label>
                                            <input class="form-control" type="text" name="texts" th:value="${banner.text}" required>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-right">
                                            <a class="btn btn-sm btn-danger" th:onclick="'deleteBanner('+${counter.count}+')'">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-2 col-sm-2 col-md-2">
                                <div class="form-group">
                                    <label for="rotation-speed">Скорость вращения</label>
                                    <select id="rotation-speed" class="form-control" name="rotationSpeed">
                                        <option value="1" th:selected="${rotationSpeed.rotationSpeed==1}">1</option>
                                        <option value="2" th:selected="${rotationSpeed.rotationSpeed==2}">2</option>
                                        <option value="3" th:selected="${rotationSpeed.rotationSpeed==3}">3</option>
                                        <option value="3" th:selected="${rotationSpeed.rotationSpeed==4}">4</option>
                                        <option value="4" th:selected="${rotationSpeed.rotationSpeed==5}">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <a class="btn btn-lg btn-success" onclick="addBanner()">Добавить</a>
                                <button class="btn btn-lg btn-primary" type="submit">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script>
    let bannersDiv = $("#banners");
    let topBannersSize = bannersDiv.children().length;
    function addBanner(){
        bannersDiv.append("" +
            "<div class='col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column' id='banner-"+(topBannersSize+1)+"'>" +
            "   <input hidden name='ids' value='0'>" +
            "   <div class='card bg-light d-flex flex-fill'>" +
            "       <div class='card-header text-muted border-bottom-0'>" +
            "           <img src='/images/ha.jpg' alt='user-avatar' style='width: 100%' id='banner-img-"+(topBannersSize+1)+"'>" +
            "           <input type='file' name='images' id='banner-input-img-"+(topBannersSize+1)+"' onchange='uploadBanner("+(topBannersSize+1)+")' required>" +
            "       </div>" +
            "       <div class='card-body pt-0'>" +
            "           <div class='form-group'>" +
            "               <label>URL</label>" +
            "               <input class='form-control' type='text' name='urls' required>" +
            "           </div>" +
            "           <div class='form-group'>" +
            "               <label>Текст</label>" +
            "               <input class='form-control' type='text' name='texts' required>" +
            "           </div>" +
            "       </div>" +
            "       <div class='card-footer'>" +
            "           <div class='text-right'>" +
            "               <a class='btn btn-sm btn-danger' onclick='deleteBanner("+(topBannersSize+1)+")'>Delete</a>" +
            "           </div>" +
            "       </div>" +
            "   </div>" +
            "</div>");
        topBannersSize++;
    }
    function deleteBanner(id){
        let banner = $("#banner-"+id);
        banner.remove();
    }
    function uploadBanner(id) {
        let avatar = $('#banner-input-img-'+id).prop('files')[0];
        let oFReader = new FileReader();
        oFReader.readAsDataURL(avatar);
        oFReader.onload = function (oFREvent) {
            $("#banner-img-"+id).attr('src', oFREvent.target.result);
        };
    }
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="/JS/admin-cinema.js"></script>
<!--<script src="/JS/admin-cinema1.js"></script>-->
<!--<script src="/JS/admin-cinema2.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/custom.js"></script>
<script src="/assets/js/jquery-3.5.1.min.js"></script>
</body>
</html>
