@charset "UTF-8";
html * {
    box-sizing: border-box;
}

p {
    margin: 0;
}
.upload__box1 {
    padding: 40px;
}
.upload__inputfile1 {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.upload__btn1 {
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    min-width: 116px;
    padding: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 2px solid;
    background-color: #737373;
    border-color: #737373;
    border-radius: 10px;
    line-height: 26px;
    font-size: 14px;
}
.upload__btn1:hover {
    background-color: unset;
    color: #737373;
    transition: all 0.3s ease;
}
.upload__btn-box1 {
    margin-bottom: 10px;
}
.upload__img-wrap1 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.upload__img-box1 {
    width: 200px;
    padding: 0 10px;
    margin-bottom: 12px;
}
.upload__img-close1 {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
}
.upload__img-close1:after {
    content: "✖";
    font-size: 14px;
    color: white;
}

.img-bg1 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
}