<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>index</title>
    <link href="admin-cinema.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- верхняя навигация -->
        <div class="header">
            <a class="navbar-brand" href="#">CMSkino admin</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <div class="btn-group" role="group" aria-label="Basic outlined button group">
                <button type="button" class="btn btn-outline-secondary">Мой кабинет</button>
                <button type="button" class="btn btn-outline-secondary">Выход</button>
            </div>
        </ul>
    </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" >
            <div class="btn-group-vertical" role="group" aria-label="Basic example">
                <a href="admin-statistics" class="btn btn-secondary btn-lg">Статистика</a>
                <a href="admin-banners" class="btn btn-secondary btn-lg">Баннера/Слайды</a>
                <a href="admin-film" class="btn btn-secondary btn-lg">Фильмы</a>
                <a href="admin-cinema" class="btn btn-secondary btn-lg" >Кинотеатры</a>
                <a href="admin-news" class="btn btn-secondary btn-lg">Новости</a>
                <a href="admin-action" class="btn btn-secondary btn-lg">Акции</a>
                <a href="admin-pages" class="btn btn-secondary btn-lg">Страницы</a>
                <a href="admin-users" class="btn btn-secondary btn-lg">Пользователи</a>
                <a href="admin-mailing-list" class="btn btn-secondary btn-lg">Рассылка</a>
            </div>
        </div>
        <div class="col-md-10" >
            <h2>Добро пожаловать</h2>
        </div>
    </div>
</div>
</body>
</html>